{% extends "users/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>{% block socialaccount_title %}{% endblock %}</h4>
                </div>
                <div class="card-body">
                    {% block socialaccount_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 